<div
  class="w-full sm:w-40r max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
    <ul
      class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
        <div class="flex items-center ps-3">
          <input id="horizontal-list-radio-license" [(ngModel)]="radio" type="radio" value="all" name="list-radio" checked (change)="handleRadioAll()"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="horizontal-list-radio-license"
            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Alumnos (Todos)</label>
        </div>
      <li class="w-full dark:border-gray-600">
        <div class="flex items-center ps-3">
          <input id="horizontal-list-radio-passport" [(ngModel)]="radio" type="radio" value="course" name="list-radio" (change)="handleRadioCourse()"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="horizontal-list-radio-passport"
            class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Por curso</label>
        </div>
      </li>
    </ul>
  </div>
  @if (radio === 'course') {
    <div>
      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona
          un curso</label>
      <select id="countries" [(ngModel)]="select" (change)="handleSelect(select)"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @for (c of courses; track c; let i = $index) {
          <option [value]="i">{{c}}</option>
          }
      </select>
  </div>
  }
  <div class="flow-root overflow-y-scroll h-96 mt-4">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">

      @for (s of students; track s; let last = $last) {
      <li [ngClass]="{'py-3 sm:py-4': !last, 'pt-3 pb-0 sm:pt-4': last}">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="w-8 h-8 rounded-full" [src]="avatarURL(s)" alt="Neil image">
          </div>
          <div class="flex-1 min-w-0 ms-4">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
              {{s}}
            </p>
          </div>
        </div>
      </li>
      }
    </ul>

    @if ((radio === 'all' && !students.length) || (radio === 'course' && select && !students.length)) {
    <span class="block text-sm text-center mt-4">No hay estudiantes inscritos</span>
    }
  </div>
</div>