<div
  class="w-full border-b border-neutral-300 max-w-sm p-4 sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <form class="space-y-6" [formGroup]="form" (submit)="submit()">
    <h5 class="text-xl font-medium text-gray-900 dark:text-white">
      Post a message
    </h5>
    <div>
      <label
        for="sender"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Select an account</label
      >
      <select
        id="sender"
        class="bg-gray-50 border mb-4 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="sender"
        required
      >
        @for (acc of accounts; track $index) {
        <option [value]="acc">{{ acc }}</option>
        }
      </select>

      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your name</label
      >
      <input
        type="text"
        name="name"
        id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="Write your name here..."
        formControlName="name"
        required
      />
    </div>
    <div>
      <label
        for="message"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your message</label
      >
      <textarea
        id="message"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Write your thoughts here..."
        formControlName="content"
        required
      ></textarea>
    </div>

    <button
      type="submit"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      [disabled]="!form.valid"
    >
      Send message
    </button>
  </form>
</div>

<p class="p-4 text-xs overflow-x-scroll">{{tx}}</p>